/**************************
*******GENERAL STYLE*******
**************************/

@import 'https://fonts.googleapis.com/css?family=Acme';
a:hover {
    text-decoration: none;
}


/*smoth scroll*/

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


/**************************
*******HEADER STYLE*******
**************************/

.header {}

.header-top {
    background: url("../img/bg_header.jpg") no-repeat center center / cover;
    position: relative;
}

.header-top::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.logo {
    text-align: center;
    margin-top: -50px;
}

.logo h1 {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 4px 4px 2px #000;
    font-family: 'Acme', sans-serif;
}

.logo h2 {
    color: #fff;
    font-size: 40px;
    text-shadow: 4px 4px 2px #000;
    font-family: 'Acme', sans-serif;
}


/****************************
*******PORTFOLIO STYLE*******
****************************/

.portfolio {
    padding: 50px 0 40px;
}

.portfolio-header {}

.portfolio-header h2 {
    width: 450px;
    margin: 0 auto 30px;
}

.line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.line::before,
.line::after {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 1px solid;
    content: "";
}

.line::before {
    margin-right: 20px;
}

.line::after {
    margin-left: 20px;
}

.single-portfolio {
    position: relative;
    overflow: hidden;
}

.single-portfolio img {}

.shadow {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    text-align: center;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.caption {
    margin-top: 15%;
}

.caption h2 {
    color: #fff;
}

.caption h4 {
    color: #fff;
}

.caption p {
    color: #fff;
}

.single-portfolio:hover .shadow {
    top: 0;
    display: block;
}


/**************************
*******FOOTER STYLE*******
**************************/

.footer {
    background: url("../img/bg_header.jpg") no-repeat center center / cover;
    min-height: 70px;
    position: relative;
}

.footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
}

.copyright {}

.copyright p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
